@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******** RESET PAGE *********/
*{

  margin: 0px;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/********** ROOT *************/

:root{
  --background-principal: #151515;
  --background-secondary:  #1b1b1b;
  --important-color:  #ed7403;
  --background-white: #f4f4f4;
}

/********** SCROLL BAR *************/

::-webkit-scrollbar{

    width: 7px;
    margin-top: 10px;
}

::-webkit-scrollbar-track{

    background-color: var(--background-secondary);
}

::-webkit-scrollbar-thumb{

    background-color:  var(--important-color);
    box-shadow: 0px 0px 30px 30px var(--important-color);
}
.custom-shape-divider-bottom-1661741990 {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661741990 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 106px;
}

.custom-shape-divider-bottom-1661741990 .shape-fill {
  fill: var(--background-secondary);
}

/******** BODY *********/

body{

  width: 100%;
  height: 100vh;
  background-color: var(--background-principal);
}

/******** PANNELS *********/

.pannels{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pannels h1{

  font-size: 5rem;
  text-align: center;
}

/******** MENU *********/

.menu{

  width: 100%;
  height: 100px;
  background: #f4f4f400;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: .5s all;
}

.menuresponse{

  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.menu ul a{
  font-size: .9rem;
}

.btn-menu{

  display:none;
}

.topics{

  width: 250px;
  height: 200px;
  position: absolute;
  top: 70px;
  z-index: -1;
  border-top: 1px solid #fff;
  background-color: var(--background-secondary);
  box-shadow: -5px 5px 5px 0px #15151590;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 2px;
}

.activeLink{

  background: red;
}

.topics a{
  width: 100%;
  height: 19%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topics a p{
  margin-left: 20px;
}

.menu h1{

  font-size: 1.3rem;
  text-transform: uppercase;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  font-weight: 900;
}

.menu-scroll h1{
  height: 60px;
  color: var(--background-principal);
}

.menu h1 b{
  
  margin: 0px 10px;
  transition: .5s;
  font-weight: 900;
  color: var(--important-color);
}

.menu h1:hover{
  color: var(--important-color);
  cursor: pointer;
}

.menu h1:hover b{

  cursor: pointer;
  color: var(--background-white);
}

.menu-scroll h1:hover{
  color: var(--important-color);
  cursor: pointer;
}

.menu-scroll h1:hover b{

  cursor: pointer;
  color: var(--background-principal);
}

#menuEvent{

  display: none;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

#abrirBtn, #fecharBtn{

  display: none;
}

.menu button{
    
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--background-secondary);
  margin-right: 15px;
  box-shadow: 0px 0px 10px 0px #15151599;
  transition: .5s;
}

.menu button:hover i{

  color: var(--background-principal);
}

.menu button:hover{
  background-color: var(--important-color);
  box-shadow: 0px 0px 10px 0px #04d19a90;
}

.menu button i{

  color: var(--important-color);
  font-size: 2.5rem;
}
.menu ul a{

  text-transform: uppercase;
  font-weight: 800;
}

.menu ul a:hover{
  cursor: pointer;
  color: var(--important-color);
  transition: .5s;
}

.menu ul hr{

  width: 2px;
  background-color: var(--important-color);
  border: none;
}

.menu-scroll{

  height: 70px;
  background-color: var(--background-white);
  transition: .5s all;
  box-shadow: 0px 0px 10px 0px #151515;
}

.menu-scroll ul a{

  font-size: .8rem;
  
  transition: .5s all;
  color: var(--background-principal);
}

/* Estilo para resolução menor que 750 pixels */
@media all and (max-width: 768px) {

  .menu{

    background-color: var(--background-white);
    width: 100%;
    height: 90px;
  }

  .menu h1{
    height: 60px;
    background-color: var(--background-principal);
    margin-left: 20px;
  }

  .btn-menu{

    display: flex;
  }

  #menuEvent {

    display: none;
    width: 100%;
    height: 100vh;
    transition: .5s;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: var(--background-principal);
  }

  #menuEvent a{
    width: 70%;
    height: 12%;
    transition: .5s;
    border-radius: 5px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    background-color: var(--important-color);
    font-size: 1.3rem;
    color: var(--background-principal);
    font-weight: 700;
  }

  #menuEvent a:hover{

    box-shadow: 0px 0px 10px 0px #04d19a;
  }

  #abrirBtn{

    display: flex;
  }

  .menuresponse{

    display: none;
    background-color: red;
  }

}


/******** BTN - ALL *********/

.btn-all{
  
  background: none;
  height: 60px;
  width: 170px;
  border-radius: 5px;
  border: 2px solid var(--important-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-all i{

  display: none;
}

.btn-all:hover{
  transition: .5s;
  box-shadow: inset 200px 0px 0px 0px var(--important-color);
}

.btn-all:hover h4{
  transition: .3s;
  display: none;
}

.btn-all:hover i{

  display: flex;
  font-size: 1.5rem;
}

.buttons{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal{

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 70px;
  width: 100vw;
  height: 100%;
  background-color: #15151590;
  backdrop-filter: blur(10px);
}

.btn-close-modal{

  position: absolute;
  right: 110px;
  top: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--important-color);
}

.btn-close-modal:hover{

  transition: .5s;
  background-color: #c05e02;
}

.box-modal{
  width: 80%;
  height: 80%;
  margin-bottom: 70px;
  background-color: var(--background-secondary);
  box-shadow: #000 0px 0px 10px 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
}

.box-modal div{

  width: 80%;
  margin: 50px 0px;
  margin-left: 100px;
}

.box-modal h1{

  font-size: 2rem;
  margin-left: 100px;
  margin-top: 60px;
  text-align: left;
  color: var(--important-color);
}

.box-modal p{
  width: 100%;
  margin: 20px 0px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 30px;
}

.box-modal h3{

  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  color: var(--important-color);
}

.box-modal h5{
  margin: 40px 0px;
  font-size: 1rem;

}

.movie-modal {

  width: 60%;
  font-size: 3rem;
  margin: 30px 0px;
}

/******** BANNER *********/

#home{

  background-image: url(https://i.redd.it/4bxgbhwgtzb81.jpg);
  background-size: cover;
  height: 115vh;
}

.banner{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #15151599;
}

.banner button{

  margin-top: 20px;
}

.banner h5{

  font-size: 2em;
  color: var(--background-white);
  font-weight: 300;
}

.banner h1{

  text-transform: uppercase;
  margin: 20px 0px;
  font-weight: 900;
  color: var(--important-color);
}

.banner h1, .banner p,
.banner h5, .banner button{

  margin-left: 100px;
}

.banner p{

  width: 35%;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: var(--background-white);
  opacity: .9;
  font-weight: 600;
}

/******** TÓPICOS *********/

#topics{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.all-titles{

    width: 85%;
    height: 5%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.all-titles h2{

    font-size: 1.5rem;
    margin-left: 40px;

    text-transform: uppercase;
}

.content-categs{
    
    width: 85%;
    height: 55%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

#topics .all-titles{

  margin-top: 40px;
}

.content-categs a{

    width: 23%;
    height:100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000090;
    position: relative;
}

.content-categs a:hover{
  transition: .3s;
  transform: scale(1.05);
}

.content-categs a:hover figcaption{

  background-color: var(--important-color);
  transition: .3s;
}

.content-categs a:hover figcaption h1{

  transition: .3s;
  color: var(--background-white);
  
}

.content-categs a:hover figcaption h6{

  transition: .3s;
  color: var(--background-secondary);
  opacity: .6;
}

.content-categs a:hover figcaption p{

  transition: .3s;
  color: var(--background-principal);
}

.content-categs a:hover figcaption p i{

  transition: .3s;
  color: var(--background-principal);
}

.content-categs figure{
   height: 50%;
}

.content-categs figure img{

    width: 100%;
    height: 100%;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    background-size: cover;
}

.content-categs figcaption{

    width: 100%;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--background-principal);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.content-categs figcaption h1,
.content-categs figcaption h6,
.content-categs figcaption p{

    margin-left: 30px;
}

.content-categs figcaption h1{

    font-size: 1rem;
    font-weight: 700;
    margin-top: 25px;
    color: var(--important-color);
    text-transform: uppercase;
}

.content-categs figcaption h6{

    width: 80%;
    font-size: .9rem;
    color: #f4f4f490;
}

.content-categs figcaption p{

    display: flex;
    align-items: center;
    justify-content:center;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    font-size: .7rem;
    font-weight: 800;
}

.content-categs figcaption p i{

    margin-left: 10px;
}

.arrast{

  display: none;
}

/******* WARR-PARAGUAI ********/

#war-paraguai{  

  display: flex;
  flex-direction: column;
}

/***** PRODUCTS *****/

#warParaguai, #vida-maria,
#one-war, #domPedro{

  display: flex;
  flex-direction: column;
}

#warParaguai .all-titles,
#vida-maria .all-titles,
#one-war .all-titles,
#domPedro .all-titles{

  margin-top: 60px;
}

.box-war-paraguai{

  display: flex;
  width: 85.5%;
  height: 70%;
  margin-top: 50px;

}

.box-war-paraguai figure{

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--background-principal);
}

.box-war-paraguai figure,
.box-war-paraguai figcaption{

  width: 50%;
  height: 100%;
}

.box-war-paraguai figure img{

  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(70%);
  box-shadow: 0px 0px 10px 0px #000;
}

.box-war-paraguai figure h1{

  width: 70%;
  position: absolute;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

.box-war-paraguai figcaption{

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.box-war-paraguai figcaption h1,
.box-war-paraguai figcaption p,
.box-war-paraguai figcaption button{

  margin-left: 40px;
}

.box-war-paraguai figcaption h1{

  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0px;
  margin-left: 40px;
  font-weight: 900;
  color: var(--important-color);
}

.box-war-paraguai figcaption p{


  margin: 10px 0px;
  width: 83%;
  font-size: 1rem;
  margin-left: 40px;
  letter-spacing: 1px;
  line-height: 30px;

}

/*** SOBRE O PROJETO ***/

#about-project{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-project .all-titles{

  margin-top: 40px;
}

#about-project figcaption{

  width: 85%;
  height: 60%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#about-project figcaption p{

  font-size: 1.2rem;
  margin: 10px 0px;
  color: #f4f4f490;
  
}

#about-project figcaption p b{

  color: var(--important-color);
}

/***** FOOOTEEERRR *****/

footer{

  width: 100%;
  height: 15vh;
  margin-top: 100px;
  background-color: var(--background-secondary);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


footer h1{

  margin-left: 100px;
  font-size: 1.3rem;
}

footer h1 b{
  
  color: var(--important-color);
}


footer p{

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 100px;
}

/******* ABOUT-US ********/

#aboutus{

  display:flex;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.box-products {

  width: 85%;
  height: 67%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-products:hover .buttons-arrows {
  display: flex;
  transition: .5s;
}

.carrossel {

  width: 100%;
  display: flex;
}

.carrossel li {

  height: 400px;
  background-color: var(--background-principal);
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;

}

.carrossel figure {

  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel figure div {

  width: 160px;
  height: 160px;
  margin-top: 30px;
  background-color: var(--background-secondary);
  border-radius: 50%;
}

.img-people{
  
  background-size: cover;
  background-position: center;
}

.img-kaull{background-image: url(..//img/fotospeoples/kaull.jpg);}
.img-ana{background-image: url(..//img/fotospeoples/ana.jpeg);}
.img-kaull{background-image: url(..//img/Imgmy.jpg);}

.carrossel figure:hover {
  cursor: pointer;
}

.carrossel figcaption {

  width: 100%;
  height: 50%;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carrossel li figcaption h1{

  font-size: 1.5rem;
  color: var(--important-color);
  position: absolute;
  top: 220px;
}

.carrossel li figcaption h4{

  font-size: 1rem;
  position: absolute;
  top: 260px;
}

.carrossel li figcaption p{

  width: 80%;
  opacity: .5;
  font-weight: 600;
  position: absolute;
  top: 290px;
}

/******* RESPONSIVIDADE ********/

@media all and (max-width: 768px) {

  /******* MENU ********/

  #home{

    background-image: url(..//img/background_min.jpg);
    background-size: cover;
  }

  .banner{

    background-size: 100%;
    display: flex;
    align-items: center;
  }

  .banner h1{
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .banner p{

    width: 80%;
    text-align: center;
  }

  .banner h1, .banner p,
  .banner h5, .banner button{

    margin-left: 0px;
  }

  /******* TÓPICOS ********/

  .content-categs{

    overflow-x: auto;
    display:flex;
    margin-top: 20px;
    height: 60%;
    align-items: center;
    flex-wrap: nowrap;
    gap: 50px;
  }

  .content-categs a{

    height: 90%;
    width: 50%;
  }

  .content-categs a figcaption{

    width: 230px;
  }

  .arrast{

    display:flex;
    height: 5%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

  }

  .content-categs::-webkit-scrollbar-track{

    background: none;
}

  .content-categs::-webkit-scrollbar-thumb{

    background: none;
    box-shadow: none;
  }

  .arrast i{

    margin-left: 10px;
  }

  #topics .all-titles{

    margin-top: 70px;
  }

  .all-titles{
    border-radius: 5px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-titles h2{

    margin-left: 0px;
  }
}
