/******** RESET PAGE *********/
*{

  margin: 0px;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/********** ROOT *************/

:root{
  --background-principal: #151515;
  --background-secondary: #272727;
  --important-color: #cbae87;
}

/********** SCROLL BAR *************/

::-webkit-scrollbar{

    width: 7px;
    margin-top: 10px;
}

::-webkit-scrollbar-track{

    background-color: var(--background-secondary);
}

::-webkit-scrollbar-thumb{

    background-color:  var(--important-color);
}

/******** BODY *********/

body{

  width: 100%;
  height: 100vh;
  background-color: #151515;
  scroll-behavior: smooth;
}

/******** PANNELS *********/

.pannels{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pannels h1{

  font-size: 5rem;
  text-align: center;
}

/******** MENU *********/

.menu{

  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--background-secondary);
}

.menu h1{

  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 100px;
}

.menu ul{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

.menu ul a{

  text-transform: uppercase;
}


@media all and (max-width: 750px) {

  .menu h1{

    display: none;
  }

  .menu ul a{

    font-size: .5rem;
  }

}


/******** BTN - ALL *********/

.btn-all{
  width: 170px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
  background: none;
}

/******** BANNER *********/

#home{

  background-image: url(https://data.1freewallpapers.com/download/desert-sunset-sand-hills-bushes-1280x800.jpg);
  background-size: cover;
}

.banner{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #15151595;
}

.banner h5{

  font-size: 2rem;
  color: var(--important-color);
}

.banner h1{

  text-transform: uppercase;
}

.banner p{

  width: 57%;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #f4f4f490;
}
