@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******** RESET PAGE *********/
*{

  margin: 0px;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1662316989 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662316989 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1662316989 .shape-fill {
  fill: var(--background-secondary);
}

/******************************************************/

.custom-shape-divider-bottom-1662570611 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662570611 svg {
  position: relative;
  display: block;
  width: calc(176% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom-1662570611 .shape-fill {
  fill: #FFFFFF;
}

/******** LIGHT MODE *********/

.light-mode{

  background-color: #d3d3d3;
  color: #000;
  transition: .3s;
}

.light-mode .custom-shape-divider-bottom-1662316989 .shape-fill {
  fill: var(--background-l-principal);
}

/******** MODALS *********/

.light-mode .modal{

  animation: alguma .3s;
  
}

.light-mode .box-modal{

  background-color: var(--background-l-principal);
}

@keyframes alguma{

  0%{
    opacity: 0;
  }

  from{
    
  }
}

@keyframes boxmodal{

  0%{
    top: 100%;
  }
  
  from{
    top: -300%;
    
  }
}

.carrossel-categ a{

  border: 2px solid #272727;
}

.light-mode .box-modal h1,
.light-mode .box-modal h3{

  
  font-weight: 700;
}

.light-mode .box-modal p{

  color: var(--background-secondary);
  font-weight: 700;
}

/**** LIGHT MENU *****/

.light-mode .menu-scroll{
  background: var(--background-principal);
}

.light-mode .menu-scroll h1,
.light-mode .menu-scroll a{

  color: var(--background-l-white);
}

/**** FEEDBACKS *****/


/**** TOPICOS *****/

.light-mode .content-categs a{

  box-shadow: #000 0px 0px 3px 0px;
}

.light-mode .content-categs a:hover{

  background-color: red;
}

.light-mode .content-categs a:hover figcaption h6{

  color: var(--background-l-principal);
}

.light-mode .content-categs a figcaption h1{
  color: var(--background-l-principal);
}

/**** FEEDBACKS *****/

.light-mode .box-feedback input,
.light-mode .box-feedback textarea{
  background-color: var(--l-color);
}

/**** TITLES *****/

.light-mode .all-titles h2{
  color: var(--important-color);
}

.light-mode .all-titles p{
  color: var(--background-principal);
}


/**** BENNER INITIAL *****/

.light-mode #home{
  background-image: url(..//img/backgrounds/lightbarco.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
}

.light-mode .banner{
  background: #00000090;
}

.light-mode .banner h1{

  text-shadow: 2px 2px 5px #000;
}

/**** PAINELS *****/

.light-mode #topics,
.light-mode #aboutus,
.light-mode #feedback,
.light-mode #embreve{

  background-color: var(--background-l-secondary);
}

.light-mode .box-war-paraguai figcaption p{

  font-weight: 800;
  color: var(--background-secondary);
}

.light-mode .box-war-paraguai figure{

  box-shadow: 0px 0px 0px 0px #000;
  border: 2px solid #000;
}

.light-mode .box-war-paraguai figcaption h1{

  color:var(--l-color-normal) ;
}

/**** BTN ALL *****/

.light-mode .btn-all{
  border: var(--l-color-normal) 2px solid;
  color: var(--l-color-normal);
}

.light-mode .btn-all:hover{
  box-shadow: 0px 100px 0px 0px inset var(--l-color-normal);
  color: var(--background-l-principal);
}

.light-mode .btn-close-modal{

  background: var(--l-color);
}

#btn-home{

  border: var(--background-l-principal) 2px solid;
  color: var(--background-l-principal);
}

/**** EMBREVE *****/

.light-mode .box-novidade li{
  background: var(--l-color);
}

/**** NOSSO TIME *****/

.light-mode .carrossel li{
  background: var(--l-color);
}

.light-mode .carrossel li p{

  color: var(--background-l-principal);
}

/********** ROOT *************/

:root{
  --background-principal: #151515;
  --background-secondary:  #050505;
  --important-color:  #ed7403;
  --background-white: #f4f4f4;

  --background-l-principal: #fefefe;
  --background-l-secondary:  #f2f2f2;
  --l-color: #272727;

  --l-color-normal: #272727;
}

/********** SCROLL BAR *************/

::-webkit-scrollbar{

  width: 7px;
  margin-top: 10px;
}

::-webkit-scrollbar-track{

  background-color: var(--background-secondary);
}

::-webkit-scrollbar-thumb{

  background-color:  var(--important-color);
  box-shadow: 0px 0px 30px 30px var(--important-color);
}

/******** BODY *********/

body{

  width: 100%;
  height: 100vh;
  background-color: var(--background-principal);
}

/******** PANNELS *********/

.pannels{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pannels h1{

  font-size: 5rem;
  text-align: center;
}

/******** MENU *********/

.menu{

  width: 100%;
  height: 100px;
  background: #f4f4f400;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s all;
  position: fixed;
  top: 0px;
  left: 0px;
}

.menuresponse{

  display: flex;
  gap: 20px;
  position: relative;
  right: -150px;
}

.menu ul a{
  font-size: .9rem;
}

.btn-menu{

  display:none;
}

.topics{

  width: 250px;
  height: 200px;
  position: absolute;
  top: 70px;
  z-index: -1;
  border-top: 1px solid #fff;
  background-color: var(--background-secondary);
  box-shadow: -5px 5px 5px 0px #15151590;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 2px;
}

.activeLink{

  background: red;
}

.topics a{
  width: 100%;
  height: 19%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topics a p{
  margin-left: 20px;
}

.menu h1{

  font-size: 1.3rem;
  text-transform: uppercase;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  font-weight: 900;
}

.menu h1 img{

  width: 50px;
  margin-right: 10px;
}

.menu-scroll{

  position: fixed;
  height: 110px;
}

.menu-scroll .menu{
  background-color: red;
}

.menu-scroll h1{
  height: 60px;
  color: var(--background-principal);
}

.menu h1 b{
  
  margin: 0px 10px;
  transition: .5s;
  font-weight: 900;
  color: var(--important-color);
}

.menu h1:hover{
  color: var(--important-color);
  cursor: pointer;
}

.menu h1:hover b{

  cursor: pointer;
  color: var(--background-white);
}

.menu-scroll h1:hover{
  color: var(--important-color);
  cursor: pointer;
}

.menu-scroll h1:hover b{

  cursor: pointer;
  color: var(--background-principal);
}

#menuEvent{

  display: none;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

#abrirBtn, #fecharBtn{

  display: none;
}

.menu button{
    
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  
  margin-right: 15px;
  transition: .5s;
}

.menu button:hover i{

  color: var(--background-principal);
}

.menu button:hover{
  background-color: var(--important-color);
  box-shadow: 0px 0px 10px 0px #04d19a90;
}

.menu button i{

  color: var(--important-color);
  font-size: 2.5rem;
}
.menu ul a{

  text-transform: uppercase;
  font-weight: 800;
}

.menu ul a:hover{
  cursor: pointer;
  color: var(--important-color);
  transition: .5s;
}

.menu ul hr{

  width: 2px;
  background-color: var(--important-color);
  border: none;
}

.menu-scroll{

  height: 70px;
  background-color: var(--background-white);
  backdrop-filter: blur(10px);
  transition: .5s all;
  box-shadow: 0px 0px 10px 1px #151515;
  display: flex;
  align-items: center;
}

.menu-scroll ul a{

  font-size: .8rem;
  
  transition: .5s all;
  color: var(--background-principal);
}

/******** CONFIGURAÇÕES *********/

.configurations{

  width: 7%;
  height: 100%;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.configurations i{

  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  background-color: var(--background-white);
  box-shadow: 0px 0px 5px 0px #00000090;
  color: var(--background-principal);
}

.configurations i:hover{
  
  transition: .5s;
  background-color: var(--important-color);
  color: var(--background-white);
  box-shadow: 0px 0px 20px 0px var(--important-color);
}


.menu-scroll .content-config{
  
  top: 70px;
}

.content-config{

  width: 250px;
  height: 300px;
  background-color: rgb(179, 179, 179);
  position: absolute;
  right: 0px;
  top: 100px;
  animation: animate ;
  animation-duration: .5s;
  box-shadow: -15px 15px 10px 0px #05050590;
  display: none;
  padding-left: 23px;
  border-bottom-left-radius: 10px;
  flex-direction: column;
}

.content-config li{

  width: 84%;
  height: 15%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  border-radius: 5px;
  background-color: var(--background-principal);
}

.content-config p{

  
  margin: 20px 0px;
  color: var(--background-secondary);
  align-items: flex-start;
  font-weight: 700;
}

@keyframes animate{

  from{
    position: absolute;
    right: -30%;
  }
}

.fechar{

  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

/* Estilo para resolução menor que 750 pixels */
@media all and (max-width: 768px) {

  .configurations i{

    position: absolute;
    right: 100px;
  }

  .content-config{

    width: 100vw;
    height: 100vh;
    top: 72px;
    align-items: center;
    justify-content: center;
  }

  .content-config li{

    margin-left: 20px;
    width: 91.5%;
    height: 60px;
  }

  .content-config p{
    margin-left: 20px;
    margin: 30px ;
  }

  .menu{

    background-color: var(--background-white);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .menu h1{
    height: 60px;
    background-color: var(--background-principal);
    margin-left: 10px;
  }

  .btn-menu{

    display: flex;
  }

  #menuEvent {

    display: none;
    width: 100%;
    height: 100vh;
    transition: .5s;
    height: calc(100vh - 70px);
    align-items: center;
    padding-top: 60px;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background-color: #151515;
    backdrop-filter: blur(15px);
  }

  #menuEvent a{
    width: 70%;
    height: 10%;
    transition: .5s;
    border-radius: 5px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    background-color: var(--background-white);
    font-size: 1.3rem;
    color: var(--background-principal);
    font-weight: 700;
    box-shadow:  0px 0px 10px 0px #000;
  }

  #menuEvent a:hover{

    box-shadow: 0px 0px 10px 0px #04d19a;
  }

  .created{
    position: absolute;
    bottom:80px;
  }

  #abrirBtn{

    display: flex;
    background: none;
    margin-right: 20px;
  }

  .menuresponse{

    display: none;
    background-color: red;
  }

  .custom-shape-divider-bottom-1661741990{
    margin-bottom: 11px;
  }

}


/******** BTN - ALL *********/

.btn-all{
  
  background: none;
  height: 60px;
  width: 170px;
  border-radius: 5px;
  border: 2px solid var(--important-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-all:hover{
  transition: .4s;
  box-shadow: inset 0px 100px 0px 0px var(--important-color);
}

.btn-left{
  margin-left: 40px;
  gap: 20px;
}

.btn-all:hover i{

  display: flex;
  font-size: 1.5rem;
}

.buttons{

  margin-top: 20px;
  gap: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal{

  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  animation: alguma .3s;
  z-index: 9999;
  top: 70px;
  width: 100vw;
  height: 100%;
  background-color: #15151599;
  backdrop-filter: blur(10px);
}

.btn-close-modal{

  position: absolute;
  right: 0px;
  top: 0px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #000;
  border-bottom-left-radius: 50px;
  border: none;
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--important-color);
}

.btn-close-modal:hover{

  transition: .5s;
  background-color: #c05e02;
}

.box-modal{
  width: 80%;
  height: 80%;
  margin-bottom: 70px;
  background-color: var(--background-secondary);
  box-shadow: #000 0px 0px 10px 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
}

.box-modal div{

  width: 80%;
  margin: 50px 0px;
  margin-left: 100px;
}

.box-modal h1{

  font-size: 2rem;
  margin-left: 100px;
  margin-top: 60px;
  text-align: left;
  color: var(--important-color);
}

.box-modal p{
  width: 100%;
  margin: 20px 0px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 30px;
}

.box-modal h3{

  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  color: var(--important-color);
}

.box-modal h5{
  margin: 40px 0px;
  font-size: 1rem;

}

.movie-modal {

  width: 60%;
  font-size: 3rem;
  margin: 30px 0px;
}

/******** BANNER *********/

#home{

  background-image: url(..//img/backgrounds/aaa.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.banner{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #00000090;
}

.banner a{

  margin-top: 20px;
  margin-left: 100px;
}

.banner h5{

  font-size: 1.7em;
  color: var(--background-white);
  font-weight: 500;
  
  font-style: italic;
}

.banner h1{

  text-transform: uppercase;
  margin: 20px 0px;
  font-weight: 900;
  color: var(--important-color);
}

.texto {
  font-size: 3rem;
  margin-top: 190px;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  animation: fader 25s infinite;
}
/* cada texto tem um delay de 5 + o valor do delay anterior, meno o primeiro */
.a {
  animation-delay: 0s;    
}
.b {
  animation-delay: 5s;
}
.c {
  animation-delay: 10s;
}
.d {
  animation-delay: 15s;
}
.e {
  animation-delay: 20s;
}

/* Animação acontece apenas entre 0 e 20%, pois são 5 elementos */
@keyframes fader {
  10% {
      opacity: 1;
  }
  20% {
      opacity: 0;
  }
}

.banner h1, .banner p,
.banner h5, .banner button{

  margin-left: 100px;
}

.banner p{

  width: 35%;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: var(--background-white);
  opacity: .9;
  font-weight: 600;
}

/******** EM BREVE *********/

#embreve{

  height: 100vh;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-novidade{

  width: 85.5%;
  height: 50%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.box-novidade li{
  width: 23.7%;
  height: 47%;
  border-radius: 5px;
  background-color: var(--background-principal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #000;
}

.box-novidade li:hover{
  transition: .5s;
  transform: scale(1.05);
}

.box-novidade li:hover div{
  cursor: pointer;
  display: flex;
}

.box-novidade li DIV{

  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #15151590;
  backdrop-filter: blur(10px);
  color: var(--important-color);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
}

.box-novidade li h1{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  font-size: 1rem;
  width: 80%;
}

.box-novidade li h3{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  font-size: .9rem;
  color: var(--important-color);
}

.box-novidade li p{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  font-size: .9rem;
  color: #f4f4f490;
}

/******** TÓPICOS *********/

#topics{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.box-products-categ{

  width: 85%;
  height: 55vh;
  margin-top: 50px;
}


.carrossel-categ{

  width: 100%;
  height: 100%;
}

.carrossel-categ a{

  width: 200px;
  height: 52vh;
  margin: 10px;
  position: relative;
  border-radius: 5px;
  background-color: var(--background-principal);
}

.carrossel-categ a figure{

  width: 100%;
  height: 50%;
}

.carrossel-categ a figure img{

  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.carrossel-categ a figcaption{

  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.carrossel-categ a figcaption h1{

  font-size: .9rem;
  position: absolute;
  color: var(--important-color);
  top: 20px;
  left: 20px;
  text-align: left;
}

.carrossel-categ a figcaption p{

  width: 85%;
  font-size: .9rem;
  margin-top: 10px;
  color: var(--background-l-secondary);
}

.carrossel-categ a figcaption h5{

  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--background-l-principal);

}

.all-titles{

    width: 85%;
    height: 5%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.all-titles h2{

    font-size: 1.5rem;
    margin-left: 40px;

    text-transform: uppercase;
}

.all-titles p{
  margin-top: 10px;
  color: #f4f4f490;
}

/******* CARROSSEL CATEGS *******/

/******* WARR-PARAGUAI ********/

#war-paraguai{  

  display: flex;
  flex-direction: column;
}

/***** PRODUCTS *****/

#warParaguai, #vida-maria,
#one-war, #domPedro{

  display: flex;
  flex-direction: column;
}

#warParaguai .all-titles,
#vida-maria .all-titles,
#one-war .all-titles,
#domPedro .all-titles{

  margin-top: 60px;
}

.box-war-paraguai{

  display: flex;
  width: 85.5%;
  height: 70%;
  margin-top: 50px;
}

.box-war-paraguai figure{

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--background-principal);
}

.box-war-paraguai figure,
.box-war-paraguai figcaption{

  width: 50%;
  height: 100%;
}

.box-war-paraguai figure img{

  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(50%);
  box-shadow: 0px 0px 10px 0px #000;
}

.box-war-paraguai figure h1{

  width: 70%;
  position: absolute;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

.box-war-paraguai figcaption{

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.box-war-paraguai figcaption h1,
.box-war-paraguai figcaption p,
.box-war-paraguai figcaption button{

  margin-left: 40px;
}

.box-war-paraguai figcaption h1{

  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0px;
  margin-left: 40px;
  font-weight: 900;
  color: var(--important-color);
}

.box-war-paraguai figcaption p{


  margin: 10px 0px;
  width: 83%;
  font-size: 1rem;
  margin-left: 40px;
  letter-spacing: 1px;
  line-height: 30px;

}

/*** SOBRE O PROJETO ***/

#about-project{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-project .all-titles{

  margin-top: 40px;
}

#about-project figcaption{

  width: 85%;
  height: 60%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#about-project figcaption p{

  font-size: 1.2rem;
  margin: 10px 0px;
  color: #f4f4f490;
  
}

#about-project figcaption p b{

  color: var(--important-color);
}

/***** FOOOTEEERRR *****/

footer{

  width: 100%;
  height: 15vh;
  margin-top: 100px;
  background-color: var(--background-secondary);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/******* ABOUT-US ********/

#aboutus{

  display:flex;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.box-products {

  width: 85%;
  height: 67%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-products:hover .buttons-arrows {
  display: flex;
  transition: .5s;
}

.box-products:hover #btn-carr{
  transition: .5s;
  display: flex;
}

#btn-carr{
  display: none;
}

.carrossel {

  width: 102%;
  display: flex;
}

.carrossel li {

  height: 400px;
  background-color: var(--background-principal);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin: 0px 15px;
  
}

.carrossel li:hover .buttons-arrows i{

  display: none;
}

.carrossel figure {
  
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel figure div {

  width: 160px;
  height: 160px;
  border: 2px solid var(--important-color);
  margin-top: 30px;
  background-color: var(--background-secondary);
  border-radius: 50%;
}

.img-people{
  
  background-size: cover;
  background-position: center;
}

.img-ana{background-image: url(..//img/fotospeoples/ana.jpeg);}
.img-andrei{background-image: url(..//img/fotospeoples/andrei.jpeg);}
.img-arthur{background-image: url(..//img/fotospeoples/arthur.jpeg);}
.img-emyly{background-image: url(..//img/fotospeoples/emyly.jpeg);}
.img-julia{background-image: url(..//img/fotospeoples/julia.jpeg);}
.img-kaull{background-image: url(..//img/fotospeoples/kaull.jpg);}
.img-ster{background-image: url(..//img/fotospeoples/ster.jpeg);}

.carrossel figure:hover {
  cursor: pointer;
}

.carrossel figcaption {

  width: 100%;
  height: 50%;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carrossel li figcaption h1{

  font-size: 1.5rem;
  position: absolute;
  top: 220px;
}

.carrossel li figcaption h4{

  font-size: 1rem;
  position: absolute;
  color: var(--important-color);
  top: 260px;
}

.carrossel li figcaption p{

  width: 80%;
  opacity: .5;
  font-weight: 600;
  position: absolute;
  top: 290px;
  line-height: 23px;
  text-align: center;
}

.buttons-arrows{

  width: 104%;
  height: 20%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.buttons-arrows button{

  height: 100%;
  width: 4.5%;
  background-color: #000;
  box-shadow: 0px 0px 20px 0px #000;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
}

.buttons-arrows button:hover{
  transition: .5s;
  background-color: var(--important-color);
}

/******* FEEDBACKS ********/

#feedback{

  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.box-feedback{

  width: 85.5%;
  height: 50%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.box-feedback section{

  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box-feedback section div{

  width: 50%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  
}


.box-feedback div input{

  width: 90%;
  height: 40%;
  outline: none;
  background-color: var(--background-principal);
  border-radius: 5px;
  border: none;
  margin: inset 10px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #00000000;
  padding: 0px 20px;
}


.box-feedback div input:focus::placeholder,
.box-feedback div textarea:focus::placeholder{

  padding-left: 10px;
  transition: .5s;
  color: var(--important-color);
  font-style: italic;
  opacity: 0;
}

.box-feedback div input:focus,
.box-feedback div textarea:focus{

  border: 1px solid var(--important-color);
  box-shadow: 0px 0px 5px 0px #c05e0290;
  transition: .5s;
}

.box-feedback section div textarea{

  width: 93%;
  height: 100%;
  padding: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  resize: none;
  background-color: var(--background-principal);
  border: 1px solid #00000000;
}

/******* RESPONSIVIDADE ********/

@media all and (max-width: 1024px) {


  /****** MENU *******/

  .menu ul a{
    font-size: .8rem;
  }

  /****** HOME *******/

  .banner{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner p{
    width: 60%;
    text-align: center;
  }

  .banner p, .banner h1, .banner h5, .banner button{
    margin-left: 0px;
  }

  /****** TÓPICOS *******/

  .content-categs{

    overflow-x: auto;
    display:flex;
    margin-top: 20px;
    height: 60%;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    
  }

  .content-categs a{

    height: 90%;
    width: 500px;
    
  }

  .content-categs a figcaption{

    width: 250px;

  }

  .content-categs a figcaption h6{


    font-size: 0.85rem;
  }

  .arrast{

    display:flex;
    height: 5%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--important-color);
  }

  .content-categs::-webkit-scrollbar-track{

    background: none;
}

  .content-categs::-webkit-scrollbar-thumb{

    background: none;
    box-shadow: none;
  }

  .arrast i{

    margin-left: 10px;
    animation: arraste 1s infinite;
  }

  @keyframes arraste {
    0%{
      padding-left: 20px;
    }

    100%{
      
    }
  }

  #topics .all-titles{

    margin-top: 70px;
  }

  .all-titles{
    border-radius: 5px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-titles h2{
    
    margin-left: 0px;

  }

  /****** box-war-paraguai *******/

  .box-war-paraguai{
    width: 90%;
    height: 80%;
  }

  .box-war-paraguai figcaption p{
    font-size: 1rem;
    margin-top: 0px;
    width: 80%;
  }
}

@media all and (max-width: 768px) {

  /******* MENU ********/

  .menu h1{
    background: none;
    margin-left: 35px;
    color: var(--background-principal);
  }

  .menu-scroll{

    height: 73px;
  }

  /******* HOME ********/

  .banner{

    background-size: 100%;
    display: flex;
    align-items: center;
  }

  .banner h1{
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .banner p{

    width: 80%;
    text-align: center;
  }

  .banner h1, .banner p,
  .banner h5, .banner a{

    margin-left: 0px;
  }

  /******* TÓPICOS ********/

  .content-categs a figcaption h6,
  .content-categs a figcaption h1,
  .content-categs a figcaption p{
    margin-left: 20px;
  }
  

  #warParaguai, #vida-maria{
    height: 100vh;
  }

  .box-war-paraguai{

    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;   
  }

  .box-war-paraguai figure{
    width: 90%;
    height: 30%;
    margin-inline: auto;
    background-color: var(--important-color);
  }

  .box-war-paraguai figure h1{

    font-size: 2rem;
    width: 100%;
  }

  .mobile-war{
    display: flex;
    
    flex-direction: column-reverse;
    justify-content: center;
  }

  .mobile-war figure{
    margin-top: -80px;
  }

  .box-war-paraguai figcaption{

    width: 90%;
    height:max-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    
  }

  .box-war-paraguai figcaption p{

    width:95%;
    margin-left: 0px;
  }

  .box-war-paraguai figcaption h1{
    margin-top: 30px;
    margin-left: 0px;
  }

  .buttons{
    gap: 20px;
  }

  .box-war-paraguai figcaption button{
    
    margin-left: 0px;
    gap: 20px;
  }


  /****** MODAL ******/

  .modal{

    
    background-color: #f4f4f490;
  }

  .box-modal{

    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .box-modal h1, .box-modal div{
    margin-left: 40px;
    
  }

  .box-modal div {
    width: 85%;
  } 

  .btn-close-modal{

    width: 80px;
    height: 80px;
    border-radius: 0;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 10px 0px #000;
    top: 0px;
    right: 0px;
  }

  /**** FEEDBACK *****/

  #feedback .all-titles{
    
    height: max-content;
  }

  .box-feedback{

    width: 90%;    
    display: flex;
    height: 60%;
    flex-direction: column;
  }

  .box-feedback section{

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .box-feedback section div{

    width: 100%;
    height: 50%;
    
    gap: 15px;
  }

  .box-feedback section div input{
    
    width: 93.6%;
    height: 46%;
  }

  .box-feedback section div textarea{
    width: 93.6%;
    height: 100%;
    margin-top: 20px;
  }

  /**** FOOTER *****/

  footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  footer h1,
  footer p{

    margin: 0px;
  }

  footer p{
    font-size: .9rem;
    color: #f4f4f490;
  }

  .custom-shape-divider-bottom-1661741990{
    display: none;
  }

  /**** novidades *****/

  #embreve{

    align-items: center;
  }

  .box-novidade{

    width: 90%;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .box-novidade li{
    width: 162px;
  }

  /**** TIME *****/

  .carrossel li{
    height: 360px;
  }

  .carrossel li figure{

    height: 50%;
  }

  .carrossel li figcaption{

    height: 50%;
  }

  .carrossel li figcaption p{

    font-size: .7rem;
    line-height: 18px;
  }

  .btn-left{
    margin-left: 0px;
  }

}

@media all and (max-width: 425px) {


  .banner{

    align-items: flex-start;
    padding-left: 40px;
  }

  .banner p{

    text-align: left;
    font-size: 1rem;
  }

  .banner h1{
    font-size: 3rem;
  }

  .all-titles p{
    
    text-align: center;
  }

  .box-war-paraguai figcaption p{

    font-size: 1rem;
    line-height: 20px;
  }

  .box-feedback section div input{
    width: 89%;
  }

  .box-feedback section div textarea{
    width: 89%;
  }

  #embreve{
    position: relative;
    height: 90vh;
  }

  #embreve .all-titles{

    position: absolute;
    top: 0px;
  }

  .box-feedback button{
    
    width: 100%;
    margin-bottom: 40px;

  }

  .box-novidade{
    margin-bottom: 80px;
  }

  .box-novidade{
    gap: 10px;
  }

  .box-novidade li{
    width: 48%;
    height: 100px;
  }

  .box-novidade li h1{

    width: 80%;
    font-size: .7rem;
  }

  .box-novidade li p{

    width: 100%;
    font-size:.7rem;
  }

  .box-war-paraguai figure h1{

    width: 90%;
    font-size: 1.4rem;
  }

  .custom-shape-divider-bottom-1661741990{
    margin-bottom: -10px;
  }
}
